.session1{
    display: flex;           
    flex-direction: column;             
    width: 80%;               
    margin: 0 auto;        
    text-align: center; 
    position: relative;
}

.header{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    
}
.form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}
.textarea {
    width: 100%;
    height: 100px;
    padding: 8px;
    font-size: 1rem;
}

// messege validate
.message-error{
    padding: 0;
    margin: 0;
    color: red;
    font-size: 14px;
    text-align: start;
}
.heading{
    padding: 0;
    margin: 0;
}

.icon{
    position: absolute;
    right: 0;
    padding: 5px 10px;
    cursor: pointer;
}
.icon1{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
    cursor: pointer;
}
// card image
.session2 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    user-select: none;  
}

.img {
    width: 100%;
    object-fit: cover; 
    height: 200px; 
    border-radius: 8px; 
}

.card {
    flex-basis: calc(33.33% - 10px);
    background-color: white;
    padding: 8px 8px 15px 8px;
    position: relative;
    margin: 5px;
}


.block-option{
    position:absolute;
    bottom: 0;
    right: 20;
}
.icon-modifier {
    position: relative;
    cursor: pointer;
}

// messege confirm
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.modal-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
}

// click image
.image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.full-screen-img {
    max-width: 90%;
    max-height: 90%;
    object-fit: fill;
}

@media only screen and (max-width: 750px) {
    .card {
        flex-basis: calc(50% - 10px)
    }
   
 }

 @media only screen and (max-width: 500px) {
    .btn-modifier{
        padding: 0;
    }
    .btn-modifier{
        padding: 0;

    }
    .btn-modifier + .btn-modifier{
        margin-left: 0; 
    }
   
 }