.wrapper {
    position: fixed;
    background-color: rgba(150, 148, 148, 0.8);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.block {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    left: 50%;
    top: -220px; 
    height: 220px;
    width: 80%;
    max-width: 500px;
    transform: translateX(-50%);
    background-color: #efefef;
    padding: 10px 30px;
    transition: top 0.5s ease-out;
}

.block.show {
    top: 50px;
}

.wrapper-button {
    padding: 10px 20px;
    background-color: #fff;
}

.form {
    background-color: #fff;
    padding: 20px;
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: stretch;
}

.input {
    flex: 3;
    font-size: 14px;
    outline: none;
    border: 1px solid rgb(221, 220, 220);
    padding: 5px;
}

.btn {
    flex: 1;
    &.disabled {
        user-select: none;
        cursor: not-allowed;
        opacity: 0.5; 
        pointer-events: none; 
      }
}

.icon-modifier {
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
    transition: 0.4s ease;
    &:hover{
        font-weight: 700;
    }
}

@media screen and (max-width: 600px) {
    .block {
        max-width: 400px; 
    }
}

@media screen and (max-width: 500px) {
    .form{
        display: flex;
        flex-direction: column;
        .input{
            width: 100%;
            margin-bottom: 5px;
        }
    }
    .btn{
        font-size: 14px;
    }
}
