.wrapper {
    --margin-top-content: var(--height-navbar);
}

.container {
    display: flex;
}

.block {
    width: 100%;
    margin-top: 10px;
}

.main-content {
    margin-left: 190px;
    margin-top: var(--margin-top-content);
    margin-right: 10px;
    height: calc(100vh - var(--margin-top-content) - 10px); /* Sửa lỗi cú pháp ở đây */
}
